body {
  margin: 0;
  font-family: 'Bodoni Moda', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  min-height: 1200px;
  background-image: url('media/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: 'Bodoni Moda', serif;
}

.form {
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  border-style: solid;
  line-height: 200%;
  background-color: rgba(255, 255, 255, 0.3);
}

textarea {
  width: 100%;
}

table {
  margin: 0 auto;
  border: 1px solid black;
}

th {
  font-size: 0.75em;
  background-color: white;
}

td {
  width: 100px;
  font-size: 0.9em;
  background-color: rgba(255,255,255,0.2);
}

.center-button {
  margin: 0;
  background-color: cornflowerblue;
  color: white;
  border: 2px solid black;
  border-radius: 15px;
  width: 50%;
}

.center-button:hover {
  background-color: plum;
  color: white;
}

.daysList {
  margin: 0 auto;
  width: 80%;
}

.daysList button {
  margin: 5px;
  height: 75px;
  width: 100px;
  border-radius: 15px;
  background-color: white;
}

.daysList button:hover {
  background-color: plum;
  color: white;
}

button.trueShow {
  display: block;
  background-color: plum;
  height: 20px;
  width: 100px;
}

button.showMore {
  margin: 0 auto;
  height: 20px;
  width: 100px;
  display: block;
}

.align-left {
  text-align: left;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.nav-link {
  text-decoration: overline underline;
  text-decoration-style: wavy;
  color: black;
}

.nav-link:hover {
  color: white;
}

.active {
  display: none;
}

.href {
  color: black;
  text-decoration: none;
}

.babypic {
  width: 75%;
  border-radius: 5px;
  background-color: white;
  padding: 25px;
}

.button-parent {
  text-align: right;
}

button.delete {
  display: inline-block;
  margin: 1px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: black;
  color: white;
}

button.delete:hover {
  background-color: white;
  color: black;
}

.addSubmit {
  display: inline-block;
  margin: 1px;
  border-radius: 20%;
  width: 25px;
  height: 25px;
  background-color: plum;
  color: black;
}

.addSubmit:hover {
  background-color: cornflowerblue;
  color: white;
}

.dashboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

}

.card {
  margin: 5px;
  width: 250px;
  border-radius: 5px;
  border-style: solid;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.align-left {
  padding: 0px 20px;
  text-align: left;
}

.headshot {
  margin: 0px 10px 0px 10px;
  width: 200px;
  border-radius: 50%;
}
